
pre {
    font-size: 1em; /* Adjust the font size as needed */
    border-radius: 1px; /* Adjust the radius as needed */
    padding: 0px; /* Add padding for better appearance */
    padding-top: 0px; /* Adjust the top padding as needed */
    padding-bottom: 0x; /* Adjust the bottom padding as needed */
    line-height: 1; /* Adjust the line height as needed */
}
